@media (max-width: 450px) {
    nav {
        background: red;
    }

    header .navbar-brand {
        width: 75%;
        padding: 0;
        margin: 0;
    }

    header .navbar-brand img {
        width: 95%;
    }

}

@media only screen and (max-width: 768px) {

    nav .collapse .nav-item .nav-link {
        color: black;
    }

    header .navbar-brand {
        padding-left: 1rem;
    }

    header .mission-info img {
        width: 100%;
    }

    .mission-info .row .col-md-5 {
        padding-bottom: 5em;
    }

    .section-1 .row .col-md-6 .panel {
        position: initial !Important;
        left: 0;
        margin-top: 1em;
        margin-left: 1rem;
        margin-bottom: 2em;
        padding: 0 5vmin !Important;
        box-shadow: none !Important;
    }

    .section-1 {
        padding-top: 1em !Important;
    }

    .section-2 .cover {
        background-position: -45vmin -45vmin;
    }

    .section-2 .numbers {
        padding: 1em;
    }

    .numbers .rect {
        width: 10rem;
        height: 8rem;
    }

    .numbers .rect h1 {
        font-size: 2rem;
    }
}