@import '../css/styles.css';
@import '../css/mobile.css';


main .spacer {
    height: 5.5em;
}

.spacer-small {
    height: 3rem;
    display: flex;
    justify-content: flex-end;
}

.user-icon {
    font-size: large;
    padding: 1rem;
}

main .main-content {
    display: grid;
    grid-template-columns: 70% 30%;
}

.user-dash {
    display: grid;
    grid-template-columns: 50% 50%;
}

.user-info,
.dashboard,
.articles,
.skills,
.post-wrapper {
    padding: .5rem;
    margin: 0 .5rem;
    border: 1px solid rgba(0, 0, 0, .1);
}

.card {
    background-color: khaki;
}

.card-height {
    height: 200px;
    object-fit: cover;
    object-position: 80% 80%;
    position: relative;
    border: 1px solid darkred;
    border-radius: 3px 3px 0 0;

}

.avatar {
    position: absolute;
    background-color: white;
    border-radius: 5px;
    width: 150px;
    top: 5em;
    left: 2em;
}

.sidebar {
    border-left: 1px solid rgba(0, 0, 0, .2);
}

.dash-links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 1rem;
}

.post {
    border: 1px solid rgba(0, 0, 0, .1);
    padding: .2rem;
    background-color: khaki;
}

.user-post {
    display: flex;
    justify-content: space-between;
}

.like {
    margin-left: 1.5rem;
}

.post-card {
    margin-bottom: .5rem;
}