@import '../css/styles.css';
@import '../css/mobile.css';

.divide {
    margin-bottom: 10em;
}

a {
    color: white;
}

label {
    display: block;
}

input,
label {
    margin: .3rem 0;
}

select {
    margin-top: .3rem;
    padding: .2rem;
}

button {
    margin: 1rem;
    width: 50%;
}

.btn:hover {
    background: red;
}

.header {
    background-color: red;
    color: white;
    padding: .5rem;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    width: 80%;
    padding: 1rem 0;
}

#age {
    width: 5em;
}

#county {
    width: 10em;
}

.adr-a-title {
    margin-top: 1rem;
}

.input-combo,
label {
    display: block;
}

.click-combo,
label {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0 .5rem;
}

.click-title {
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.block-three {
    display: flex;
    justify-content: space-between;
}

.adr-a {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.contact-form {
    display: grid;
    grid-template-columns: 50% 50%;
}

.join-form {
    display: grid;
    grid-template-columns: 60% 40%;
}

.contact-a,
.contact-b,
.jform {
    display: flex;
    flex-direction: column;
    padding: 0 5em;
}

.sidebar {
    margin-right: 1em;
}